.footer {
  background-color: var(--secondary-bgc);
  padding-top: 60px;
  padding-bottom: 60px;

  &-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;

    // desktop
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }

    // desktop
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      text-align: left;
      align-items: baseline;
      gap: 70px;
    }
  }

  // &__contacts-thumb {
  //   margin-bottom: 60px;
  // }

  // &__join-thumb {
  //   margin-bottom: 60px;
  // }

  &-text {
    font-weight: 700;
    font-size: calc(16 / 14);
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
  }
}

.logo--footer {
  margin-bottom: 28px;
}
