.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-bgc);
    color: var(--primary-icon);

    transition: color, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &__link:hover,
  &__link:focus,
  &__link-footer:hover,
  &__link-footer:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
  }

  &__icon {
    fill: currentColor;
  }
}
